<header>
<div class="collapse bg-dark" id="navbarHeader">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4 class="text-white">About</h4>
      <p class="text-muted">This website was created with the intention of teaching people how to buy and invest in Bitcoin. Keep reading through this website, save it as your favourite and share it online.
      This the best resource about buying Bitcoin found online.</p>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4 class="text-white">Quick links</h4>
      <ul class="list-unstyled">
        <li><a href="#faq" class="text-white">Frequently Asked Questions</li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
<div class="container d-flex justify-content-between">
  <a href="/" class="navbar-brand d-flex align-items-center">
    <img src="assets/images/Bitcoin.png" class="img-fluid" alt="buy-bitcoin-satoshi-header">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</div>
</header>
